* {
    margin: 0;
    padding: 0;
}

body { 
    width: 100%;  
    height: 100%;  
    overflow: hidden;  

   }

div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(foreground.png);
    background-size: 100% 100%;
}








